
<section id="welcome">
	<article>
		<h1>Weclome to SugarWatch!</h1>
		<p>Sugar has become ubiquitous in almost every food we eat. It's time to become more aware of how much we consume. With SugarWatch you can track how much sugar you eat daily, weekly and monthly.</p>
	</article>
	<ul> 
		<li>
		 <%= link_to 'LOG IN', new_session_path %>
		</li>
		<li>
		 <%= link_to 'SIGN UP', new_user_path %>
		</li>
	</ul>
</section>