<main id="sugar-dashboard">
	<aside id="sugar-btns">
		<div id="daily" class="selected"><h4>Day</h4></div>
		<div id="weekly"><h4>Week</h4></div>
	</aside>

	<aside id="right">
    <p>There are 200 grams of sugar in a cup.</p>
    <p id="total"></p>
	</aside>

	<section id="sugar-show">
	
	</section>
</main>

<%= javascript_include_tag "servings.js" %>

<script>totalCups()</script>