<main id="sugar-dashboard">
	<aside id="sugar-btns">
		<div id="daily" class="selected"><h4>Day</h4></div>
		<div id="weekly"><h4>Week</h4></div>
  <article>
		<p>There are 200 grams of sugar in a cup.</p>
		<p>According to the <a href="http://www.heart.org/HEARTORG/">American Heart Association (AHA)</a>, the maximum amount of added sugars you should eat in a day are:</p>
			<ul>
				<li>Men: 37.5 grams or 9 teaspoons.</li>
				<li>Women: 25 grams or 6 teaspoons.</li>
			</ul> 
			<p id="total"></p>
		</article>
	</aside>

	<!-- <aside id="right">
		<p>There are 200 grams of sugar in a cup.</p>
		<p>According to the <a href="http://www.heart.org/HEARTORG/">American Heart Association (AHA)</a>, the maximum amount of added sugars you should eat in a day are (7):
			<ul>
				<li>Men: 37.5 grams or 9 teaspoons.</li>
				<li>Women: 25 grams or 6 teaspoons.</li>
			</ul></p> 
			<p id="total"></p>
		</aside>
 -->
		<section id="sugar-show">

		</section>
	</main>

	<%= javascript_include_tag "servings.js" %>

	<script>totalCups()</script>

