
<section class="daily-sugar">
<h1>show</h1>


<h4><%=  @total_sugar %></h4>


<!-- <div id="sugar-containter"> -->

<svg id="sugar-containter">
<svg id="air"></svg>
</svg>
</div>
</section>

<%= javascript_include_tag "daily_servings.js" %>