<section id="weekly" class="sugar-show">
	<h1>show</h1>
	<h4><%= @total_sugar %></h4>
	<% cup_count = [1 + (@total_sugar.to_i - 1)/200, 1].max %>
	<% cup_count.times do |i| %>
		<div class="cup-and-sugar">
			<div class="cup">
			</div>
			<svg id="sugar-containter-<%= i %>" class="sugar">
			</svg>
		</div>
	<% end %>
</section>

<%= javascript_include_tag "servings.js" %>