<h1>Welcome to SugarWatch, <%= current_user.name %></h1>



<form id="nutri-search">

<label>Search and add food for today: </label>
<input type="text" name="search">

<div id="submit">Submit</div>
		
</form>


<section id='search-results-container'>

</section>

<section id='user-choices-container'>
 <h3>Your Food</h3>

 <a href="/daily_servings/<%= current_user.id %>"><button>Sugarfy your day</button></a>

</section>

<section id="sugar-view">

</section>

