
 <main class="dashboard">
	<h3>Hi, <%= current_user.name %></h3>

 <section id="nutri-search">
	<form>
	<!-- <label>Search and add food for today: </label> -->
		<input type="text" name="search" placeholder="Search and add food for today">
		<input type="submit">
	</form>
 </section>

	<section id='search-results-container'>

	</section>

	<section id='user-choices-container' class="clearfix">
	 <h3 id="food-diary">Your Food Diary</h3>

	 <a href="<%= daily_sugar_path %>"><button>Sugarfy your day</button></a>

	</section>

</main>

