<!-- <h1>Welcome to SugarWatch, <%= current_user.name %></h1>
<aside>
<a href="#"><h4>Sugar for the week</a></h4>
<a href="#"><h4>Sugar for the day</a></h4>
</aside>


<form id="nutri-search">

<label>Search and add food for today: </label>
<input type="text" name="search">

<div id="submit">Submit</div>
		
</form>


<section id='search-results-container'></section>

   -->
