/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_self
 */
 @import "bourbon";
 @import "neat";

 body {
 	width: 1000px;
 }

 .body-container {
  @include outer-container;
}
.daily-sugar {
	padding: 0.5em, 0.5em;
}
 #search-results-container{
 	float: left;
 }
 #user-choices-container {
 	/* margin-left: 66%;
     margin-top: -4%;*/
     float: right;
     margin-right: 20%;
    /*margin-left: 44%;
	margin-top: -86%;*/
 	 .user-foods {
	 
   }
 }

 .cup-and-sugar {
 	float: left;
 	position: relative;
 	width: 250px;
 	height: 300px;
 }

 .cup {
 	position: absolute;
 	width: 250px;
 	height: 300px;
 	z-index: 1;
 	background-image: url('cup.png');
 	background-size: 250px 300px;
 }

 .sugar {
 	position: absolute;
 	z-index: 0;
 }




 
