/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_self
 */
 @import "bourbon";
 @import "neat";
 @import 'reset';
 @import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');
 	
 @import 'foods';
 @import 'daily_servings';
 @import 'colors';

$logo:'Walter Turncoat', cursive;


 body {
   /*padding: 20px 20px;*/
   font-size: 100%;
   font-family: Arial;
 }
  h1 {
  	font-size: 2em;
  }
 li {
 	list-style: none;
 	padding: 15px 5px;
 }
 a {
 	text-decoration: none;
 }
header {
 width: 100%;
 background-color: $primary;

 nav {
 	margin: 0 auto;
	margin-bottom: 40px;
    max-width: 1000px;
	padding-left: 0.75em;
	padding-right: 0.75em;

	  li {
	   display: inline-block;
	   float: right;
	   border-radius: 8px;
	   font-size: 1.25em;

	  	a {
	  	 color: white;
	    }
	  }
    }	
}
#container {
max-width: 1000px;
margin: 0 auto;
}
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

#logo{
	float: left;
	/*width: 200px;
	height: 50px;
*/
	font-family: $logo;
	font-size: 1.75em;
	color: white;
	/*background-image: url('sugar.png');*/
}

#welcome {
	/*width: 100%;*/
	margin-left: 20%;
    margin-right: 20%;
	margin-top: 8%;

	 h1{
	   margin-bottom: 10px;
	   color: $primary;
	 }
	li {
		background-color: $grey;
		padding: 1em 1em;
		margin-bottom: 15px;
		text-align: center;
		a {
		  color: $primary;
		  font-weight: bold;
		}
	}

	article{
	margin-bottom: 10%;
	line-height: 1.5em;
	}


}

 





 