@import 'colors';

.daily-sugar {
	padding: 0.5em 0.5em;
}

 .cup-and-sugar {
 	/*@include outer-container;*/
 	float: left;
 	position: relative;
 	width: 325px;
 	height: 300px;

	 .cup {
	 	/*@include span-columns(6);
*/	 	position: absolute;
	 	width: 325px;
	 	height: 300px;
	 	z-index: 1;
	 	background-image: url('new-cup.png');
	 	background-size: 325px 300px;
	   }

	 .sugar {
	 	
	 	position: absolute;
	 	z-index: 0;
	 }
 }


#sugar-dashboard{
 @include outer-container;

   aside {
  	margin-bottom: 15px;

  }

  article{
    padding: 0.5em 0.25em;
    line-height: 1.25em;

     li{
      padding-top: 5px;
      padding-bottom: 5px;
       + li {
         padding-top: 0px;
         margin-bottom: 10px;
       }
     }
  }
  #total {
    /*font-weight: bold;*/
  }
   
  #sugar-btns{
    @include span-columns(4);
    float: left;
     div{
	   padding: 0.5em 0.25em;
	   display: inline-block;
	   background-color: #AFEEEE;
	   color: white;
    }
   .selected {
 	background-color: grey;
   }
  }
   #sugar-show{
    @include span-columns(8);
   	/* margin-top: 46px;*/
   	 /*margin-left: 5%;
   	 margin-right: 5%;*/
   }
}
